@model PaginatedVM<UserWithRoleVM>



@* <partial name="_Notifications"/> we made toaster global in layout *@

<div class="container">


    <div class="row pt-4 pb-3 align-items-center">
        <!-- Search Bar -->
        <div class="col-md-6 col-lg-4 mb-3">
            <form class="input-group" asp-action="Index" asp-controller="User" method="get">
                <input type="search" name="query" class="form-control" value="@Context.Request.Query["query"]" placeholder="Search Company..." />
                <button class="btn btn-primary" type="submit">Search</button>

                @if (!string.IsNullOrEmpty(Context.Request.Query["query"]))
                {
                    <a asp-action="Index" asp-controller="User" class="btn btn-secondary ms-2">
                        <i class="bi bi-x"></i> Clear
                    </a>
                }

            </form>
        </div>

        <!-- Heading -->
        <div class="col-md-6 col-lg-4 mb-3 text-center">
            <h2 class="fw-semibold">Users List</h2>
        </div>

        <!-- Add User Button -->
        <div class="col-lg-4 text-end mb-3">
            <a class="btn btn-success" asp-controller="User" asp-action="Create">
                <i class="bi bi-plus-square me-1"></i>Add User
            </a>
        </div>
    </div>



    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                   Email
                </th>
                <th>
                    Address
                </th>
                <th>
                    Roles
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.User.Id</td>
                    <td>@item.User.UserName</td>
                    <td>@item.User.Email</td>
                    <td>@item.User.Address</td>
                    <td>@item.Role</td>
                    <td>
                        <div class="w-75 btn-group " role="group">
                            <a asp-controller="User" asp-action="Edit" asp-route-Id="@item.User.Id" class="btn btn-info mx-2">
                                <i class="bi bi-pencil"></i>Edit
                            </a>

                            @if (item.User.LockoutEnd != null && item.User.LockoutEnd > DateTime.UtcNow)
                            {
                                <form asp-action="LockUnlock" asp-route-id="@item.User.Id" method="post" style="display:inline;">
                                    <button class="btn btn-warning mx-2">
                                        <i class="bi bi-ban"></i> Unblock
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form asp-action="LockUnlock" asp-route-id="@item.User.Id" method="post" style="display:inline;">
                                    <button class="btn btn-primary mx-2">
                                        <i class="bi bi-ban"></i> Block
                                    </button>
                                </form>
                            }





                            <a asp-controller="User" asp-action="Delete" asp-route-Id="@item.User.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>

               
            }
        </tbody>
    </table>
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">

            <nav aria-label="...">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="?page=@i&query=@Context.Request.Query["query"]">@i</a>
                        </li>
                    }
                   
                </ul>
            </nav>
        </div>
    </div>

</div>